* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* PROFILE  */

.profile-img {
  display: block;
  width: 100%;
  height: auto;
}

.name {
  font-family: montserrat;
  font-weight: 700;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
}

.profile-img-container {
  position: relative;
  width: 200px;
  margin-left: 120px;
  margin-top: 64px;
}

.overlay {
  position: absolute;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000;
}

.profile-img-container:hover .overlay {
  opacity: 0.6;
}

/* HEADER  */

.header {
  height: 450px;
}

.nav-bar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 4;
}

a {
  padding: 2rem;
  text-decoration: none;
  color: white;
  font-family: roboto;
  font-weight: 700;
}

h1 {
  color: white;
  position: absolute;
  z-index: 5;
  font-family: charter;
  font-size: 72px;
  line-height: 80px;
  font-weight: 600;
  max-width: 600px;
  padding-left: 120px;
  padding-top: 100px;
}

.circle {
  position: relative;
  background-color: #dd8723;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  left: 100px;
  top: -150px;
  z-index: 3;
}

/* CARD  */

.card-container {
  display: inline-block;
  padding-left: 120px;
  padding-bottom: 3rem;
  width: 25%;
  margin-top: 3rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  background-color: #e5dccd;
  padding: 1rem;
}

.image {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.date-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 {
  font-size: 48px;
  font-family: rosarivo;
  font-weight: 100;
  color: #333;
  margin-top: 1rem;
  margin-bottom: 0;
}

p {
  margin: 0;
}

.search-bar-container {
  width: 300px;

  margin: 20px;
  border-radius: 30px;
  padding: 10px;
  position: relative;
}

.input-field {
  border: none;
}

.input-field::placeholder {
  color: #b5a2ac;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn {
  /* -webkit-appearance: none; */
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 100%;
  width: 70px;
  text-align: center;
}